
    <h2 class="text-center text-capitalize my-4">Qui sommes nous ? </h2>

    <div class="row">
        <div class="col-md-4">
            <h3 class="my-3">Notre histoire</h3>
            <p>Nous avons créé ce site dans le but de permettre à des particuliers de se regrouper le temps d'un événement. Ils pourraient ainsi se lier à travers une passion ou un besoin spécifique. </p>
        </div>
        <div class="col-md-4">
            <h3 class="my-3">Nos dirigeants</h3>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <h4>Pastèque </h4>
                </div>
                <div class="col-sm-4">

                    <img src="~/Image/pasteque.jpg" alt="Photo d'un dirigeant" width="50" height="50" />
                </div>
            </div>
            <div class="row mb-3 ">
                <div class="col-sm-4">
                    <h4>Patate </h4>
                </div>
                <div class="col-sm-4">
                    <img src="~/Image/patate2.jpg" alt="Photo d'un dirigeant" width="50" height="50" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4">
                    <h4>Orange </h4>
                </div>
                <div class="col-sm-4">

                    <img src="~/Image/orange.jpg" alt="Photo d'un dirigeant" width="50" height="50" />
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <h3 class="my-3">Nos chiffres</h3>
            <p>3.4 millions d'euros en 2020 ! </p>
        </div>
    </div>


@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@
