
    <div class="row" @*style="background: url(~/Image/contact.jpeg); background-size: cover; padding: 0;*@">
        
        <div class="col-sm-12">
            <div style="color: #9B0517;text-align: center;font-weight: bold;font-size: 2.1em;padding-bottom: 20px;margin-top: 45px;line-height: 39px;border-bottom: 1px dashed #9B0517;">
                CONTACTEZ-NOUS
            </div>
            <div style="color: #524226;font-size: 1.2em;font-weight: 600;margin-top: 14px;text-align: center;padding-bottom: 10px;">
                ACCUEIL EVENTLINK PARIS
                <br><span style="font-size: 30px;">01 48 25 72 00</span>
                <br><br>
                <a class="btn btn-warning" href="/" rel="noopener noreferrer" style="border-color: white;border-radius: 0;padding: 5px; background-color: #9B0517;" target="_blank">
                    PLAN D'ACCÈS EVENTLINK PARIS
                </a>
            </div>
            <div style="color: #524226;font-size: 1.2em;font-weight: 600;margin-top: 14px;text-align: center;padding-bottom: 10px;">
                ACCUEIL EVENTLINK MARSEILLE<br>
                <span style="font-size: 30px;">04 33 63 22 36</span>
                <br><br><a class="btn btn-warning" href="/" rel="noopener noreferrer" style="border-color: white;border-radius: 0;padding: 5px; background-color: #9B0517;" target="_blank">
                PLAN D'ACCÈS EVENTLINK MARSEILLE
</a>
            </div>
        </div>
    </div>





















@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@