
<!--Header de présentation du site web-->
<div id="header_home" class="no-container">
    <h1>Les évenements près de chez vous</h1>
    <h2>C'est le moment de créer des liens</h2>
</div>

<h2 class="text-center mt-4">Les événements les plus populaires</h2>
<!--Les 6 événements les plus populaires  -->
<div class="row mt-4">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body mb-3">
                <div class="row no-gutters">
                    <div class="col">
                        
                        <img src="~/Image/meditation_boudhiste2.jpg" class="card-img" alt="..." height="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="card-title mt-3">Meditation boudhiste</h5>
                        <p class="card-text">Passer un après midi à méditer avec d'autres boudhistes</p>
                        <a href="#" class="btn btn-primary">Allez voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body mb-3">
                <div class="row no-gutters">
                    <div class="col">
                        <img src="~/Image/marionette2.jpg" class="card-img" alt="..." height="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="card-title mt-3">Spectacle de marionette</h5>
                        <p class="card-text">Spectacle de marionnette humoristique pour petis et grands.</p>
                        <a href="#" class="btn btn-primary">Allez voir</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body mb-3">
                <div class="row no-gutters">
                    <div class="col">
                        <img src="~/Image/events.jpg" class="card-img" alt="..." height="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="card-title mt-3">Evénement surprise</h5>
                        <p class="card-text">Ne planifiez rien. Venez et découvrez : ça passe ou ça casse !</p>
                        <a href="#" class="btn btn-primary justify-content-center">Allez voir</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<h2 class="text-center mt-4">Les nouveaux événements</h2>
<!--Série des 3 derniers événements -->
<div class="row mt-4 mb-4">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body mb-3">
                <div class="row no-gutters">
                    <div class="col">
                        <img src="~/Image/foot2.jpg" class="card-img" alt="..." height="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="card-title mt-3">Match de foot déguisé</h5>
                        <p class="card-text">Faire un de foot affublé d'un costume, si possible:  ridicule.</p>
                        <a href="#" class="btn btn-primary">Allons voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body mb-3">
                <div class="row no-gutters">
                    <div class="col">
                       
                        <img src="~/Image/patate.jpg" class="card-img" alt="..." height="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="card-title mt-3">Le cercle des éplucheurs de patates</h5>
                        <p class="card-text">Meilleurs réalisations de fruits et légumes épluchés: bonne chance !</p>
                        <a href="#" class="btn btn-primary">Allons voir</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body mb-3">
                <div class="row no-gutters">
                    <div class="col">
                        <img src="~/Image/composition_florale2.jpg" class="card-img" alt="..."  height="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5 class="card-title mt-3">Composition florale</h5>
                        <p class="card-text">Cours et concours de composition florale pour débutants hardcore.</p>
                        <a href="#" class="btn btn-primary">Allons voir</a>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Caroussel de commentaires d'adhérents ayant réservés -->
@*Suprimer de la section, classe caroussel : cid-qyvf5AQs7c*@
<div class="card bg-whitesmoke">
    <section class="carousel slide testimonials-slider  mt-4 text-center" id="testimonials-slider1-3" data-rv-view="767">

        <div class="carousel slide" data-ride="carousel" role="listbox" id="testimonials-slider1-3-carousel">
            <div class="carousel-inner">


                <div class="carousel-item">
                    <div class="user col-md-12">
                        <div class="user_image">

                            <img src="https://randomuser.me/api/portraits/med/women/75.jpg" class="rounded-circle" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7 pt-2">
                                J'ai été agréablement surprise de découvrir que ma ville organisait des spectacles de marionnette ! Ma fille de 6 ans et moi avons adoré ! Merci.
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Helen
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7 pb-2">
                            Evénement : Spectacle de Marionnette
                        </div>
                    </div>
                </div><div class="carousel-item active carousel-item-left">
                    <div class="user col-md-12">
                        <div class="user_image">
                            <img src="https://randomuser.me/api/portraits/med/women/55.jpg" class="rounded-circle" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7 pt-2">
                                J'ai eu la chance de découvrir cette activité à la fois enrichissante et amusante tout en la partageant avec des proches. Génial !
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Linda
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7 pb-2">
                            Evénement : Fabrication de savon
                        </div>
                    </div>
                </div><div class="carousel-item carousel-item-next carousel-item-left">
                    <div class="user col-md-12">
                        <div class="user_image">
                            <img src="https://randomuser.me/api/portraits/med/men/75.jpg" class="rounded-circle" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7 pt-2">
                                Fan des jeux vidéo, cette réservation m'a permis de profiter de l'événement avec des amateurs comme moi. Je renouvellerai l'expérience !'
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Paul
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7 pb-2">
                            Evénement : Paris Game Week
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev" href="#testimonials-slider1-3-carousel">
                    <span aria-hidden="true" class="mbri-arrow-prev mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" role="button" data-slide="next" href="#testimonials-slider1-3-carousel">
                    <span aria-hidden="true" class="mbri-arrow-next mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </section>
</div>




